*.exe
*.obj
*.sdf
*.ilk
*.log
*.tlog
*.idb
*.pdb
*.command.1.tlog
*.read.1.tlog
*.write.1.tlog
*.lastbuildstate
*.dll
*.ipch
*.jpg
*.png
*.gif
*.avi
*.jpeg
*.db
*.xml
.vs
Debug
\.idea/

Detection/cmake-build-debug/

src/cmake-build-debug/
